body {
    background-color: black;
    color: white;
    padding: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    text-align: center;
  }
  .wrapper {
    padding: 20px;
}